@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  @font-face {
    font-family: Fauna;
    font-weight: 400;
    src: url("/font/faune/Faune-Text_Regular.woff2") format("woff2");
  }
  @font-face {
    font-family: Fauna;
    font-weight: 400;
    font-style: italic;
    src: url("/font/faune/Faune-Text_Italic.woff2") format("woff2");
  }
  @font-face {
    font-family: Fauna;
    font-weight: 700;
    font-style: bold;
    src: url("/font/faune/Faune-Text_Bold.woff2") format("woff2");
  }

  body {
    color: var(--foreground);
    background: radial-gradient(#032549, #001220);
    font-family: Fauna, Arial, sans-serif;
  }

}