@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  @font-face {
    font-family: "Faune";
    src: url("/fonts/faune/Faune-Text_Regular.woff") format("woff");
  }

  @layer base {
    * {
      font-family: "Faune";
    }

    /* main {
      background: radial-gradient(
        73.58% 178.7% at 73.58% 47.73%,
        #032549 0%,
        #001220 59.5%
      );
    } */

    main {
      background-color: #001220;
      color: white;
    }

    .title {
      font-size: xx-large;
    }

    .divider-solid {
      border-top: 1px solid rgba(255, 255, 255, 0.20);
    }
  }
}
